<div class="graphs">
  <div class="headers">
    <img class="logo" src="./../../../assets/logos/logo.webp" alt="logo" />
    <h3>{{ title | lowercase }}</h3>
  </div>
  <div class="proposition">
    <h2>Best proposition:</h2>
    <h1>5$</h1>
    <p>per year</p>
  </div>
  <div class="results">
    <div id="backblaze" class="company"></div>
    <div id="bunny" class="company"></div>
    <div id="scaleway" class="company"></div>
    <div id="vultr" class="company"></div>
  </div>
  <div class="logos">
    <div class="box">
      <img src="./../../../assets/logos/blaze.png" alt="pic1" />
      <p>Backblaze</p>
    </div>
    <div class="box">
      <img src="./../../../assets/logos/bunny.png" alt="pic2" />
      <p>Bunny</p>
    </div>
    <div class="box">
      <img src="./../../../assets/logos/scaleway.png" alt="pic3" />
      <p>Scaleway</p>
    </div>
    <div class="box">
      <img src="./../../../assets/logos/vultr.png" alt="pic4" />
      <p>Vultr</p>
    </div>
  </div>
</div>
