@import "./../../../styles/colors.scss";
@import "./../../../styles/mixins.scss";

.graphs {
  margin-top: 50px;
  border-radius: 5px;
  position: relative;

  @include for-phone-only {
    margin-top: 5px;
  }
}

.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $black;
  color: $white;
  border-radius: 5px 5px 0 0;

  & > img {
    max-width: 25px;
    max-height: 25px;
    margin-right: 5px;
  }
}

.proposition {
  display: flex;
  align-items: center;
  padding: 30px;

  & > h1 {
    color: $green;
  }

  & > h2 {
    font-weight: 300;
    margin-right: 20px;
    color: $black;
  }

  & > p {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 10px;
  }

  @include for-phone-only {
    padding: 10px 5px;

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 18px;
    }
  }
}

.results {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 350px;
  background: url("./../../../assets/graph-bg.webp");

  .company {
    position: relative;
    width: 9%;
    min-width: 112px;
    margin-bottom: 35px;
    border-radius: 5px 5px 0 0;
    background-color: $dark-gray;
    box-shadow: -20px 14px 0 0 rgb(0 0 0 / 10%);

    @include for-phone-only {
      box-shadow: none;
      min-width: 80px;
    }

    .tooltip {
      position: absolute;
      top: -48px;
      left: 10px;
      display: inline-block;
      min-width: 59px;
      padding: 9px 16px;
      margin-bottom: 16px;
      font-family: Montserrat, sans-serif;
      font-size: 18px;
      color: $white;
      background: $black;
      border-radius: 5px;
      text-align: center;

      @include for-phone-only {
        min-width: 50px;
        padding: 9px;
        left: 5px;
      }

      &::after {
        position: absolute;
        bottom: -6px;
        left: calc(50% - 8px);
        width: 16px;
        height: 16px;
        content: "";
        background: $black;
        transform: rotate(45deg);
      }
    }
  }

  .backblaze {
    background: linear-gradient(180deg, $light-red, $red);
  }

  .bunny {
    background: linear-gradient(180deg, $light-orange, $orange);
  }

  .scaleway {
    background: linear-gradient(180deg, $light-purple, $purple);
  }

  .vultr {
    background: linear-gradient(180deg, $light-blue, $blue);
  }
}

.logos {
  position: absolute;
  bottom: -134px;
  right: 11px;
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  padding: 20px 20px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 10%);

  @include for-tablet-landscape-up {
    bottom: -114px;
  }

  @include for-phone-only {
    width: 90%;
    right: 0;
    justify-content: space-between;
  }

  .box {
    width: 15%;
    text-align: center;

    @include for-phone-only {
      width: 23%;
    }

    & > p {
      margin-top: 5px;
    }

    form {
      margin-top: 10px;

      .radio-wrap {
        @include for-tablet-landscape-up {
          display: inline;
        }

        @include for-phone-only {
          text-align: start;
          margin-left: 15px;
        }
      }

      label {
        font-size: 12px;
      }
    }
  }
}
