$black: #000000;
$gray: #abb8c3;
$dark-gray: #999999;
$primary-gray: #f8f8f8;
$secondary-gray: #e3e3e3;
$white: #ffffff;
$red: #cf2e2e;
$orange: #ff6900;
$green: #00d084;
$light-blue: #8ed1fc;
$blue: #0693e3;
$purple: #9b51e0;
