$black: #061f32;
$gray: #abb8c3;
$dark-gray: #999999;
$primary-gray: #f8f8f8;
$secondary-gray: #e3e3e3;
$white: #ffffff;
$red: #cf2e2e;
$light-red: #f73a3a;
$light-orange: #fd8a38;
$orange: #ff6900;
$green: #36b32f;
$light-blue: #8ed1fc;
$blue: #0693e3;
$purple: #8c41d3;
$light-purple: #b178e6;
