@import "./../styles/colors.scss";

.container {
  margin: 100px auto;
  max-width: 1240px;
  max-height: 1000px;

  .calculator {
    display: flex;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    gap: 60px;
  }

  .graphs {
  }
}
